<div class="h-full flex flex-col justify-center">
  <div class="flex flex-col p-3 m-auto bg-red-400 rounded-md shadow-2xl lg:w-1/4"
       [formGroup]="loginForm">
    <h2 class="text-white text-xl font-bold mb-6">Login</h2>

    <app-form-field>
      <label for="email-input" class="text-white">E-mail address</label>
      <input appFormField id="email-input" type="text" formControlName="email">
    </app-form-field>

    <app-form-field>
      <label for="password-input" class="text-white">Password</label>
      <input appFormField id="password-input" type="password" formControlName="password">
    </app-form-field>

    <div class="flex justify-center">
      <button class="function-button" (click)="login()">
        Login
      </button>
    </div>

  </div>
</div>

